<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcoder.request.set.infra.mapper.RequestUrlMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.jcoder.request.set.domain.entity.RequestUrl">
        <result column="request_url_id" property="requestUrlId" jdbcType="DECIMAL"/>
        <result column="request_common_id" property="requestCommonId" jdbcType="DECIMAL"/>
        <result column="request_method" property="requestMethod" jdbcType="VARCHAR"/>
        <result column="request_url" property="requestUrl" jdbcType="VARCHAR"/>
        <result column="match_string" property="matchString" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="checkUrlExisted">
        select count(request_url_id)
          from reqp_request_url ru
         where ru.request_method = #{requestMethod, jdbcType=VARCHAR}
           and ru.match_string = #{requestUrl, jdbcType=VARCHAR}
           and ru.request_common_id != #{requestCommonId, jdbcType=DECIMAL}
    </select>

</mapper>