<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcoder.request.set.infra.mapper.RequestParamMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.jcoder.request.set.domain.entity.RequestParam">
        <result column="request_param_id" property="requestParamId" jdbcType="DECIMAL"/>
        <result column="request_common_id" property="requestCommonId" jdbcType="DECIMAL"/>
        <result column="param_name" property="paramName" jdbcType="VARCHAR"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
        <result column="over_ride" property="overRide" jdbcType="DECIMAL"/>
        <result column="not_null_flag" property="notNullFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
</mapper>